@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

* {
    font-family: "Noto Kufi Arabic";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 96vh;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    margin: 0;
}

/* Login Container */
.login-container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

/* System Title */
.system-title {
    color: #007bff;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Icon */
.icon-container img {
    width: 180px;
    border-radius: 50%;
    background: #e0e0e0;
    padding: 10px;
    animation: swapping 10s infinite;
}
@keyframes swapping {
    0%, 50% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

/* Labels */
h2 {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}

/* Input Group */
.input-group {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.input-group i {
    margin-left: 10px;
    color: #777;
}

.input-group input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    direction: ltr;
}

/* show/hide password */
.toggle-password {
    width: 1rem;
    height: 1rem;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}
button:hover {
    background-color: #0056b3;
}
button i {
    font-size: 16px;
}

footer {
    font-style: italic;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.status-bar p {
    display: none;
    font-weight: 500;
    color: white;
    border-radius: 8px;
    margin-top: 0.6rem;
    margin-bottom: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background: #0056b3;
}

footer small p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}